In [11]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
Installing collected packages: pandas
Successfully installed pandas-2.2.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
pip install numpy

Requirement already satisfied: numpy in c:\python312\lib\site-packages (2.0.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
import pandas as pd
import numpy as np

In [24]:
data = np.arange(10)

In [25]:
data

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [26]:
data[2]

np.int64(2)

In [27]:
df = pd.DataFrame(data)
df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [28]:
df = pd.DataFrame({
'A': [1, 2, 3],
'B': [4, 5, 6],
'C': [7, 8, 9]
})

In [29]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [30]:
mean_col = df.mean(axis=0)

In [31]:
mean_col

A    2.0
B    5.0
C    8.0
dtype: float64

In [34]:
mean_row = df.mean(axis = 1)

In [35]:
mean_row

0    4.0
1    5.0
2    6.0
dtype: float64